<footer>
    <div class="contenedor">
        <div class="contenedorRedes">
            <p>siguenos</p>
            <ul class="redesSociales">
                <li>instagram</li>
                <li>facebook</li>
                <li>tiktok</li>
                <li>twitter</li>
            </ul>
        </div>
    </div>
    
    <div class="contenedor">
        <p>payment methods</p>
        <ul>
            <li>paypal</li>
            <li>credit card</li>
            <li>debit card</li>
            <li>transfer</li>
        </ul>
        
    </div>
    <div class="contenedor">
        <i class="fas fa-copyright"></i>
        <span>CarlaCosmetics</span>
        <p>todos los derechos reservados</p>
    </div>
</footer>