<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=title%> - CarlaCosmetics </title>
    <!-- SWIPER -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <!-- CSS  -->
    <link rel="stylesheet" href="/css/estilos.css">
    <!-- JS -->
    <script src="/js/funciones.js"></script>
    <!-- FONTAWESOME -->
    <script
    src="https://kit.fontawesome.com/a42b43434c.js"
    crossorigin="anonymous"
    ></script>
</head>