<header>
    <i><img src="" alt="LogoCarlaCosmetics"></i>
    <nav>
       <div class="navbar">
        <a href="#home">home</a>
        <a href="/products">products</a>
        <a href="#reviews">reviews</a>
        <a href="#aboutUs">about us</a>
        <a href="/contactUs">contac</a>
       </div>

        <div class="ingresar">
            <a href="#">sign in</a>
            <a href="#">sign up</a>
        </div>
    </nav>
</header>