<!-- swiper -->
<div class="home-swiper swiper">
    <div class="wrapper swiper-wrapper">
        <div class="swiper-slide">
            <% reviews.map((review) => { %>
                <div>
                    <h1>
                        <%= review.nombre %>
                    </h1>
                    <p>
                        <%= review.descripcion %>
                    </p>
                    <img src="<%= review.imagen %>" 
                    alt="<%= review.alt %>" />
                </div>
            <% }) %>            
        </div>
    </div>
<div class="swiper-pagination"></div>
</div>